{% extends 'pages/layout.html' %}
{% load static %}

{% block title %}<title>Meet Your Pokemon Team</title>{% endblock title %}

{% block content %}
<div class="main-area">
  <h1 class="title-text fw-bolder">Meet Your Pok&eacutemon Team!</h1>
  <br>
  <div class="row row-cols-1 row-cols-md-6 g-4">
    {% for pokemon in pokemons %}
    <div class="col">
      <div class="card mx-auto h-100">
        <img src="{{pokemon.sprites.front_default}}" class="card-img-top pokemon-img" alt="Pokemon Img">
        <div class="card-body">
          <h5 class="card-title">{{pokemon.name}}</h5>
          <p class="card-text">
            types:
            {% for type in pokemon.types %}
              {{type.type.name}}
            {% endfor %}
          </p>
        </div>
        <div class="card-footer">
          {% if forloop.first %}
            <small class="text-muted">Team Captain</small>
          {% else %}
            <small class="text-muted">Player</small>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br>
  <div>
    <a class="btn btn-main_menu btn-lg fw-bold" href="{% url 'home' %}" role="button">Main Menu</a>
  </div>
</div>
{% endblock content %}
